asgiref==3.8.1
attrs==18.1.0
beautifulsoup4==4.12.3
browser-cookie3==0.19.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
ConfigArgParse==1.7
coursera-helper==0.12.3
cryptography==44.0.2
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
greenlet==3.0.3
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
keyring==25.4.1
lz4==4.3.3
more-itertools==10.5.0
mysqlclient==2.2.7
playwright==1.47.0
pyasn1==0.6.1
pycparser==2.22
pycryptodomex==3.20.0
pyee==12.0.0
PyMySQL==1.1.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.2.3
websocket-server==0.6.4
